/* fonts */
    @font-face {
    font-family: 'Frutiger';
    src: url(/resources/fonts/Frutiger.ttf);
    }

/* main styling :3 */

    @keyframes scrollBackground {
        from {
            background-position: 0 0;
        }
        to {
            background-position: 1000px 1000px; /* Adjust based on image width */
        }
    }

    body {
        background-image: url(/resources/imgs/wataru_birds.png);
        background-repeat: repeat;
        background-size: auto 30vh; /* Keep vertical size consistent */
        background-attachment: scroll;
        background-color: #feb4ff;
        font-family: 'Frutiger';
        animation: scrollBackground 60s linear infinite;
    }
    
    .container {
        display: flex; 
        max-width: 1080px; 
        margin: auto;
        justify-content: center;
    }

    .wide {
        width: 700px;
    }

    .containers {
        padding: 15px;
        padding-top: 5px;
        padding-bottom: 5px;
        text-align: center;
        margin-bottom: 10px;
        color: white;
    }

    .gradient {
        background: linear-gradient(#797979b0, #161616b0);
        padding: 0;
        margin: 0;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .content-container {
        text-align: left;
        background-color: rgba(0, 0, 0, 0.194);
        margin-left: 10px;
        margin-right: 10px;
    }

    emphasis, .emphasis {
        text-shadow: 0 0 3px #fd6eff;
    }

    .title {
        text-shadow: 0 0 10px #fc42ff;
    }

    h2 {
        font-style: italic;
    }

    span {
        font-size: 13px;
        color: rgb(194, 194, 194);
    }

    .sidebar {
        width: 200px;
        min-height: 250px;
        margin: 10px;
        font-size: 13px;
        padding: 10px;
    }

    .sidebar > h3 {
        font-size: 20px;
    }

    ul {
        list-style-type: square;
    }

    a {
        text-decoration: none;
        color: inherit;
        text-shadow: 0 0 3px #ca6eff;
    }

    a:hover {
        text-shadow: 0 0 10px #ca6eff;
    }

    #lastfm {
        padding: 5px;
    }

    .lastfm-flex {
        display: flex;
        align-items: center;
        gap: 10px;
        margin-top: 6px;
    }

    #cover {
        width: 64px;
        height: 64px;
        object-fit: cover;
        border-radius: 5px;
    }

    #links {
        font-size: 20px;
        list-style-type: none;
        padding-left: 0;
    }